
.nvt {
    &-slider {
        position: relative;
    }
    
    &-track {
        overflow-x: hidden;
    }

    &-list {
        display: flex;
    }

    &-nav {
        display: flex;
        align-items: center;
        justify-content: center;
        // margin-top: 20px;
    }

    &-dots {
        display: flex;
        align-items: center;
    }
    &-dot {
        width: 8px;
        height: 8px;
        margin: 0 5px;
        background-color: currentColor;
        opacity: 0.3;
        border-radius: 100%;
        cursor: pointer;
        transition: all 0.4s linear;

        &.--active {
            opacity: 1;
            width: 12px;
            height: 12px;
        }
    }

    &-arrow {
        display: inline-block;
        color: currentColor;
        cursor: pointer;

        &.--disabled {
            opacity: 0.3;
            pointer-events: none;
        }
    }
}